<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.readjson">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReadJSON"
        tools:targetApi="31">
        <activity
            android:name=".DetailDataNote"
            android:exported="false"
            android:label="@string/title_activity_detail_data_note"
            android:theme="@style/Theme.ReadJSON.NoActionBar" />
        <activity
            android:name=".DeatalNoteData"
            android:exported="false"
            android:label="@string/title_activity_deatal_note_data"
            android:theme="@style/Theme.ReadJSON.NoActionBar" />
        <activity
            android:name=".ListSongMusic"
            android:exported="false" />
        <activity
            android:name=".SQLiteToDoList"
            android:exported="false" />
        <activity
            android:name=".MediaOnlineSound"
            android:exported="false" />
        <activity
            android:name=".AppMusic"
            android:exported="false" />
        <activity
            android:name=".ListenMusicVideoDemo"
            android:exported="false" />
        <activity
            android:name=".JsonObjectRequest"
            android:exported="false" />
        <activity
            android:name=".VolleySimpleRequest"
            android:exported="false" />
        <activity
            android:name=".JsonArrayObject"
            android:exported="false" />
        <activity
            android:name=".JsonLanguage"
            android:exported="false" />
        <activity
            android:name=".JsonArray"
            android:exported="false" />
        <activity
            android:name=".JSONObjectData"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>